{{#section 'css'}}
<link rel="stylesheet" href="../../public/CSS/signin.css">
{{/section}}

<main>
    <form id="login_form" class="form_class" method="post">
        {{#if err_message}}
            <div class="alert alert-danger" role="alert">
                {{err_message}}
            </div>
        {{/if}}
        <div class="form_div">
            <label>Email:</label>
            <input class="field_class" name="email" type="email" autofocus>
            <label>Password:</label>
            <input id="pass" class="field_class" name="password" type="password">
            <button class="submit_class" type="submit" form="login_form" onclick="return validarLogin()">Đăng
                nhập</button>
        </div>
        <div class="info_div">
            <p>Chưa có tài khoản? <a href="/account/register">Đăng kí ngay</a></p>
        </div>
    </form>
</main>