{{#section 'css'}}
<link rel="stylesheet" href="../../public/CSS/vwStudent/profile.css">
{{/section}}

{{#section 'js'}}
<script>
  $(document).ready(function () {
    $('#formUpdateProfile').on('submit', function (e) {
      e.preventDefault()

      const name = $('#txtName').val()
      const email = $('#txtEmail').val()
      if (name.length === 0 && email.length === 0) {
        alert('Vui lòng nhập tên hoặc email')
        return
      }
      if (email.length === 0) {
        $('#formUpdateProfile').off('submit').submit();
        return
      }

      $.getJSON(`/account/is-available?email=${email}`, function (data) {
        if (data === false) {
          alert(`${email} đã tồn tại.`);
        } else {
          $('#formUpdateProfile').off('submit').submit();
        }
      });

    })
  })
</script>
{{/section}}

<div class="profile">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <h4 class="card-header profile-item student-name">
          {{this.name}}
        </h4>
        <ul class="list-group list-group-flush">
          <a href="/student/profile" class="profile-item">
            <li class="list-group-item active-menu">Hồ sơ</li>
          </a>
          <a href="/student/security" class="profile-item">
            <li class="list-group-item">Bảo mật</li>
          </a>
          <a href="/student/watchlist" class="profile-item">
            <li class="list-group-item">Watchlist</li>
          </a>
          <a href="/student/my-courses" class="profile-item">
            <li class="list-group-item">Khóa học đã mua</li>
          </a>
        </ul>
      </div>
    </div>

    <div class="col-sm-9 pb-4">
      <p class="title text-center">Hồ sơ</p>
      {{!-- <p>Change your information here</p> --}}



      <form class="profile-form" method="post" id="formUpdateProfile">
        {{#if msg}}
        <div class="alert alert-success alert-dismissible fade show text-center pr-0" role="alert">
          {{msg}}
          <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="bg-inherit">&times;</span>
          </button>
        </div>
        {{/if}}
        <div class="form-group">
          <label for="txtName">Tên</label>
          <input name="name" type="text" class="form-control text-input" id="txtName" placeholder="{{this.name}}">
        </div>
        <div class="form-group">
          <label for="txtEmail">Email</label>
          <input name="email" type="email" class="form-control text-input" id="txtEmail" placeholder="{{this.email}}">
        </div>


        <div class="submit-button">
          <button type="submit" class="btn btn-profile">Lưu</button>
        </div>
      </form>
    </div>
  </div>
</div>