{{#section 'css'}}
<link rel="stylesheet" href="/public/CSS/vwStudent/profile.css">
{{/section}}

{{#section 'js'}}
<script>
  $(document).ready(function () {
    $('#formChangePassword').on('submit', function (e) {
      e.preventDefault()

      const pass = $('#txtPass').val()
      const newPass = $('#txtNewPass').val()
      const newPassConfirm = $('#txtNewPassConfirm').val()
      if (pass.length === 0) {
        alert('Vui lòng nhập mật khẩu hiện tại')
        return
      }
      else if (newPass.length === 0) {
        alert('Vui lòng nhập mật khẩu mới')
        return
      }
      else if (newPassConfirm.length === 0) {
        alert('Vui lòng nhập xác nhận mật khẩu mới')
        return
      }
      else if (newPass != newPassConfirm) {
        alert('Mật khẩu mới và xác nhận mật khẩu mới không giống nhau')
        return
      }

      $('#formChangePassword').off('submit').submit();
    })
  })
</script>
{{/section}}

<div class="profile">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <h4 class="card-header profile-item student-name">
          {{this.name}}
        </h4>
        <ul class="list-group list-group-flush">
          <a href="/student/profile" class="profile-item">
            <li class="list-group-item">Hồ sơ</li>
          </a>
          <a href="/student/security" class="profile-item">
            <li class="list-group-item active-menu">Bảo mật</li>
          </a>
          <a href="/student/watchlist" class="profile-item">
            <li class="list-group-item">Watchlist</li>
          </a>
          <a href="/student/my-courses" class="profile-item">
            <li class="list-group-item">Khóa học đã mua</li>
          </a>
        </ul>
      </div>
    </div>

    <div class="col-sm-9 pb-4">
      <p class="title text-center">Bảo mật</p>
      {{!-- <p>Change your password here</p> --}}

      <form class="profile-form" method="post" id="formChangePassword">
        {{#if msg}}
        <div class="alert alert-success alert-dismissible fade show text-center pr-0" role="alert">
          {{msg}}
          <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="bg-inherit">&times;</span>
          </button>
        </div>
        {{/if}}
        {{#if err_msg}}
        <div class="alert alert-danger alert-dismissible fade show text-center pr-0" role="alert">
          {{err_msg}}
          <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="bg-inherit">&times;</span>
          </button>
        </div>
        {{/if}}
        <div class="form-group">
          <label for="txtPass">Mật khẩu hiện tại</label>
          <input name="pass" type="password" class="form-control" id="txtPass">
        </div>
        <div class="form-group">
          <label for="txtNewPass">Mật khẩu mới</label>
          <input name="newPass" type="password" class="form-control" id="txtNewPass">
        </div>
        <div class="form-group">
          <label for="txtNewPass">Xác nhận mật khẩu mới</label>
          <input type="password" class="form-control" id="txtNewPassConfirm">
        </div>

        <div class="submit-button">
          <button type="submit" class="btn btn-profile">Lưu</button>
        </div>
      </form>
    </div>
  </div>
</div>