.container{
    display: flex;
    flex-direction: column;
}

.header, .chapter-header, .chapter-menu, .information{
    display: block;
    width: 100%;
    background-color: #ffffff;
    padding: 5px 5px 5px 5px;
}

.header{
    font-weight: bold;
}

.course-discription{
    display: flex;
    justify-content: space-between;
}

.course-img { 
    padding-left: 30px;
    flex: 25%;
}

.course-detail{
    padding-left: 50px;
    flex: 70%;
}

.rating-item{
    display: inline;
    color: rgb(254, 200, 23);
}

.bi.bi-star-fill{
    color: rgb(228, 168, 16);
}

.course-menu, .course-content, .similar-courses, .lecturer, .feedback{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px auto 20px;
    background: #fff4f9;
    overflow: hidden;
}

.chapter, .information{
    padding-left: 15px;
    padding-right: 15px;
}

.chapter-header{
    font-size: 16px;
    font-weight: 700;
}

.chapter-menu{
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

