<div class="p-5">
  <p class="h1">Tên category</p>
  
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4 mb-4">
        <div class="card">
          <img class="card-img-top" src="/public/img/category/yae.png" alt="courseTitle">
          <div class="card-body">
            <h4 class="card-title mb-0">Course Title</h4>
            <h5 class="card-title mb-0 font-italic">Course Category</h5>
            <p class="card-text text-secondary mb-0">Teacher</p>
            <p class="card-text mb-0">Rating</p>
            <h5 class="card-text mb-0">₫199,000</h5>
          </div>
        </div>
      </div>
  
      <div class="col-sm-4 mb-4">
        <div class="card">
          <img class="card-img-top" src="/public/img/category/yae.png" alt="courseTitle">
          <div class="card-body">
            <h4 class="card-title mb-0">Course Title</h4>
            <h5 class="card-title mb-0 font-italic">Course Category</h5>
            <p class="card-text text-secondary mb-0">Teacher</p>
            <p class="card-text mb-0">Rating</p>
            <h5 class="card-text mb-0">₫199,000</h5>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-4">
        <div class="card">
          <img class="card-img-top" src="/public/img/category/yae.png" alt="courseTitle">
          <div class="card-body">
            <h4 class="card-title mb-0">Course Title</h4>
            <h5 class="card-title mb-0 font-italic">Course Category</h5>
            <p class="card-text text-secondary mb-0">Teacher</p>
            <p class="card-text mb-0">Rating</p>
            <h5 class="card-text mb-0">₫199,000</h5>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-4">
        <div class="card">
          <img class="card-img-top" src="/public/img/category/yae.png" alt="courseTitle">
          <div class="card-body">
            <h4 class="card-title mb-0">Course Title</h4>
            <h5 class="card-title mb-0 font-italic">Course Category</h5>
            <p class="card-text text-secondary mb-0">Teacher</p>
            <p class="card-text mb-0">Rating</p>
            <h5 class="card-text mb-0">₫199,000</h5>
          </div>
        </div>
      </div>
  
    </div>



  </div>
    <nav>
      <ul class="pagination pagination-lg" style="justify-content: center;">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
</div>