<div class="card">
  <h4 class="card-header">
    CourseName
  </h4>
  <div class="card-body">
    <img src="#">
    <p class="card-text">
      Học phí: <span class="text-danger font-weight-bold">10000000</span>
    </p>
    <p class="card-text">
      Học viên: 246457
    </p>
    <p class="card-text">
      FullDes
    </p>
  </div>
  <img src="/public/img/category/yae.png">
</div>