.card {
    border-color: rgb(254, 106, 129)
}

.page-item.active > .page-link {
    background-color: rgb(254, 106, 129); 
    border-color: rgb(254, 106, 129);
}

.page-link:hover {
    background-color: rgb(254, 106, 129); 
    color: white;
}

h4.card-header {
    border-color: rgb(254, 106, 129);
}

.col-sm-4.mb-4>a {
    text-decoration: none;
}

.coursename {
    font-size: 2.2rem;
}

.rating-item {
    display: inline;
    font-size: 1.3rem;
    color: rgb(221, 137, 28);
}

.bi.bi-star-fill {
    font-size: 1.5rem;
    color: orange;
}

.discount-text {
    display: inline;
    color: red;
}

.img-container {
    position: relative;
}

.img-container img {
    display: block;
}

.img-container .fire-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5rem;
    background: transparent;
    font-size: 3rem;
}

.bi-fire {
    color: red;
}