.course-video {
    padding: 0rem 0rem;
}

.video {
    --plyr-color-main: rgb(254, 106, 129);
}

#textReview {
    border: 1px solid rgb(254, 106, 129);
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    resize: none;
    padding: 1rem;
    margin-bottom: 1rem;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.btn-review {
    background-color: pink !important;
    border-color: rgb(254, 106, 129);
}

/* .course-content-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow-y: scroll;
    height: 90vh;
} */

.card-header,
.card-body {
    padding: 1.6rem;
    border: none;
}

.card-header {
    font-weight: bold;
    background-color: white;
}

.chapter {
    background-color: pink;
    display: flex;
}

.chapter-name {
    width: 90%;

}

.chapter-icon {
    width: 10%;
}

a,
a:visited,
a:hover {
    color: black;
    text-decoration: none;
}

a[aria-expanded=true] .bi-caret-down-fill {
    display: none;
}

a[aria-expanded=false] .bi-caret-up-fill {
    display: none;
}

.chapter-content {
    background-color: white;
    display: flex;
    flex-direction: row;
}

.chapter-content:hover,.is-watching {
    background-color: rgb(254, 106, 129);
}

.chapter-content:hover .content-name, .is-watching .content-name {
    color: white;
}

.content-icon {
    width: 10%;
}

.bi-check-circle-fill {
    font-size: 2rem;
    color: rgb(5, 87, 5);
}

.content-name {
    padding-left: 1rem;
    width: 90%;
    margin: auto;
}