.profile * {
    font-size: 1.3rem;
}

h4.card-header {
    border-color: rgb(254, 106, 129)
}

a.profile-item {
    text-decoration: none;
}

.student-name {
    text-align: center;
}

.profile {
    padding: 3rem 6rem;
}

.card,.col-sm-9 {
    border: 1px solid rgb(254, 106, 129);
    border-radius: 0.25rem;
}

.list-group-item:hover {
    background-color: rgb(254, 106, 129); 
    color: white;
}

.active-menu {
    background-color: rgb(254, 106, 129); 
    color: white;
}

/* .title, .profile-item {
    font-family: Comic Sans MS;
} */

.title {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}

.profile-form {
    margin: 0rem auto;
    max-width: 50rem;
}

.form-control.text-input {
    height: 3.5rem;
    font-size: 1.2rem;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.btn-profile {
    background-color: pink !important;
    border-color: rgb(254, 106, 129);
}

.img-container {
    position: relative;
}

.img-container img {
    display: block;
}

.img-container .fav-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5rem;
    background: transparent;
    font-size: 2rem;
}

.img-container .complete-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5rem;
    background: transparent;
    font-size: 2rem;
}

.bi-heart-fill {
    color: rgb(254, 106, 129);
}

.bi-check-circle-fill {
    color: rgb(5, 87, 5);
}

.bg-inherit {
    background-color: inherit;
}

.discount-text {
    display: inline;
    color: red;
}